<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Pokemon Go!</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/semantic/dist/semantic.min.css">
</head>
<body class="ui container">
	
	<div class="ui grid">
		<div class="row">
			<form class="five wide column">
				<select name="search-by" class="ui fluid dropdown" id="select">
				  <option value="">Search By</option>
				  <option value="user">User</option>
				  <option value="pokemon">Pokemon</option>
				  <option value="gym">Gym</option>
				</select>
			</form>
			<div class="five wide column"></div>
			<div class="five wide column"></div>
		</div>

	</div>

	<br>
	
	<!-- <div class="ui grid">
		<div class="four column row">
			<div class="one wide column"></div>	
			<form class="one wide column">
				
			</form>
			<div class="column"></div>
			<div class="colum"></div>
		</div>
	</div> -->
	
	

	



	
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/semantic/dist/semantic.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
    <script type="text/javascript">
    	$('#select')
			 .dropdown()
		;
    	
    </script>
</body>
</html>
