<!DOCTYPE html>
<html ng-app="app" ng-cloak>
<head>
    <title>Pokemon Go!</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/semantic/dist/semantic.min.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body class="ui container">
	
	<div class="ui one column grid" ng-controller="navController as nav">
		<div class="row">
			<div class="column">
				<div class="ui secondary pointing menu">
					<a class="item">
						<img src="/assets/logo.png"></img>
					</a>
					<a ng-click="nav.activateLink(navItem.link)" class="yellow item link-{{navItem.text}}" ng-repeat="navItem in nav.navLinks" href="/#{{ navItem.link}}">{{ navItem.text }}</a>
					<div class="right menu">
						<a class="item" ng-click="nav.logoutUser()">Logout</a>
				  	</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-view></div>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/semantic/dist/semantic.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
    <script type="text/javascript">
    	$('#select')
			 .dropdown()
		;
    	
    </script>
</body>
</html>
