<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/semantic/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body class = "landing-image">
	<div class="ui secondary massive menu login-head">
		<a class="red active item">
			Pokemon Go
		</a>
	</div>
	<div class = "ui padded grid login-main text">
		<div class="middle aligned five wide centered column">
			<div class="row">
				<div class = "ui padded grid login-card">
					<div class = "center aligned sixteen wide centered column">
						<h1 class="ui center aligned icon header login-icon">
								<i class="circular users icon"></i>
								LOGIN
						</h1>
					</div>
					<form class="fourteen wide centered column">
						<div id = "login-form" class = "ui form">
							<div class="field">
								<input type="text" name="user-name" placeholder="Username">
							</div>
							<div class="field">
								<input type="password" name="pass-word" placeholder="Password">
							</div>
							<div class="fluid ui inverted button">
								login
							</div>
							
						</div>
					</form>	
				</div>
			</div>
		</div>
	</div>
</body>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/semantic/dist/semantic.js"></script>
    <script type="text/javascript" src="/js/samp.js"></script>
</body>
</html>