<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/bower_components/semantic/dist/semantic.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body class = "landing-image" >
	<div class="ui middle aligned grid out-grid">
		<div class = "row">
			<div class = "sixteen wide centered column">
				<div class="ui two column very relaxed stackable centered grid">
					<div class="left aligned seven wide column login-text">
						<br>	
						 <img class="ui large image" src="/assets/pokemongo-title.png">
						<br>	
						<span class = "wel-text">
							Connect pokemons — and other fascinating trainers. Get updates on the teams that interest you. And monitor battles unfold!
						</span>
  					</div>
  					<div class="five wide column">
	  					<div class ="ui fluid card" ng-controller = "loginController as login">
	  						<div class="content">
		  						<div class="header">
									LOGIN
								</div>
							</div>
							<div class = "content">
								<form class="ui form" id = "loginForm" ng-submit = "login.loginUser($event)">
									<div class="field">
										<div class="ui left icon input">
											<input type="text" placeholder="Username" name="login username" ng-model = "login.username">
												<i class="user icon"></i>
										</div>
									</div>
									<div class="field">
										<div class="ui left icon input">
											<input type="password" placeholder = "Password" name="login pass" ng-model = "login.password">
												<i class="lock icon"></i>
										</div>
									</div>
									<button class="ui blue animated button" tabindex="0" type="submit">
										<div class="visible content">Login</div>
										<div class="hidden content">
											<i class="right arrow icon"></i>
										</div>
									</button>
									<div class="ui negative mini message" ng-if="login.loginError">
									  <div class="header">Invalid username/password</div>
									</div>									
								</form>
							</div>
						</div>
						<div class = "ui fluid card" ng-controller = "regController as reg">
							<div class ="content">	
								<div class="header">
									SIGN UP
								</div>
							</div>
							<div class = "content">
								<form class="ui form" id = "regForm" name = "regForm" ng-submit = "reg.regUser($event)">
									<div class="field">
										<div class="ui left icon mini input">
											<input type="text" placeholder="Name" name="reg name" ng-model = "reg.name">
											<i class="user icon"></i>
										</div>
									</div>
									<div class="field">
										<div class="ui left icon mini input">
											<input type="text" placeholder="Username" name="reg username" ng-model = "reg.username">
											<i class="user icon"></i>
										</div>
									</div>
									<div class="field">
										<div class="ui left icon mini input">
											<input type="password" placeholder = "Password" name="reg password" ng-model = "reg.password">
												<i class="lock icon"></i>
										</div>
									</div>
									<div class="field">
										<select class="ui dropdown" id="select-sex" name="reg sex" ng-model = "reg.sex">
											<option value="">Sex</option>
											<option value="Male">Male</option>
											<option value="Female">Female</option>
										</select>
									</div>
									<div class="field">
										<select class="ui dropdown" id="select-country" name="reg country" ng-model="reg.country">
												<option value = "">Country</option>
											<option ng-repeat="country in reg.country_list" value="{{country}}">{{country}}</option>
										</select>
									</div>
									<button class="ui yellow labeled icon button" id = "signUpButton">
										<i class="signup icon"></i>
							    		Sign Up
									</button>	
									<div class="ui success mini message" ng-if="reg.success">
									  <div class="header">Sign up successful! You can now login with your account.</div>
									</div>
									<div class="ui negative mini message" ng-if="reg.error">
									  <div class="header">Sign up unsuccessful!</div>
									</div>
									<div class="ui negative mini message" ng-if="reg.dupError">
									  <div class="header">Username is taken. Please choose another.</div>
									</div>									
								</form>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="ui container">
		CMSC 127 Project PokeMONGGO December 2016
	</footer>
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/semantic/dist/semantic.js"></script>
    <script type="text/javascript" src="/bundle.js"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</body>
</html>