[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.capitalize {
    text-transform: capitalize;
}

.bold {
    font-weight: bold;
}

.img-background {
    background-color: #F3F3F3;
    border-radius: 10px;
}

body {
    max-height: 100vh;
    
}

.pointer {
    cursor: pointer;
}