<div class="ui grid centered">
    <form class="row ui form" ng-submit="main.search($event)">
        <div class="five wide column">
            <div class="field">
                <select class="ui dropdown" ng-model="main.searchCategory" id="search-by-select" name="select-by">
                    <option value="">{{main.searchError}}</option>
                    <option ng-repeat="option in main.options" 
                            value="{{option.value}}">
                            {{option.label}}
                    </option>
                </select>
            </div>
        </div>
        <div class="eight wide column">
            <input type="text" ng-model="main.input" placeholder="Enter text">
        </div>
        <div class="three wide column">
            <button id="search-button" class="ui fluid yellow button" type="submit">Search</button>
        </div>
    </form>
</div>
<div class = "ui grid centered">
    <div class="ui top attached tabular menu">
        <div ng-repeat="result in main.results" class="pointer item tab-{{result.key}}"  ng-click="main.activateTab(result.key)">
            {{result.field}}
            <i class="caret down icon" ng-if="main.sorting(result.key)[0] === '-'"></i>
            <i class="caret up icon" ng-if="main.sorting(result.key)[0] !== '-'"></i>
        </div>
    </div>
    <div class="row" ng-if="main.searching">
        <div class="sixteen wide column middle aligned">
            <div class="ui active massive inline loader"></div>
        </div>
    </div>
    <div class="ui bottom attached tab segment tab-{{result.key}}" ng-repeat="result in main.results">
        <div class="ui grid centered">
            <div class="three wide column" ng-repeat="unit in result.data | orderBy : main.sorting(result.key) track by $index"
            ng-click="main.openModal(unit)">
                <div class="ui fluid special card centered pointer">
                    <div class="blurring dimmable image"> 
                        <img ng-if="unit.date_registered" class="ui image fluid" ng-src="/assets/trainers/{{main.getImage(unit)}}.png">
                        <img ng-if="unit.pokemon_id" class="ui image fluid" ng-src="/assets/pokemons/{{unit.entity}}.png">
                        <img ng-if="unit.gym_id" class="ui image fluid" ng-src="/assets/gyms/{{main.getImage(unit)}}.png">
                    </div>
                    <div class="content">
                        <div class="header">
                            {{unit.name}}
                        </div>
                        <div class="meta">
                            <div ng-if="unit.date_registered">{{unit.username}}</div>
                            <div ng-if="unit.pokemon_id" class="capitalize">{{unit.entity}}</div>
                            <div ng-if="unit.prestige">Gym</div>
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="user icon"></i>
                            <span ng-if="unit.date_registered">
                                <span ng-if="unit.team !== 'NULL'" class="capitalize">Team {{unit.team}}</span>
                                <span ng-if="unit.team === 'NULL'">No team</span>
                            </span>
                            <span ng-if="!unit.date_registered">
                                Owned by
                                <span ng-if="unit.pokemon_id">{{unit.trainer}}</span>
                                <span ng-if="unit.prestige">
                                    <span ng-if="unit.team === 'NULL'">no team</span>
                                    <span ng-if="unit.team !== 'NULL'" class="capitalize">Team {{unit.team}}</span>
                                </span>
                            </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>    

<!-- MODAL -->
<modal-pokemon></modal-pokemon>
<modal-user></modal-user>
<modal-gym></modal-gym>
<modal-pokemon></modal-pokemon>
<modal-add-pokemon></modal-add-pokemon>
<modal-add-user></modal-add-user>
<modal-add-gym></modal-add-gym>


<!-- FAB BUTTONS-->
    <button id="fab-user" class="circular huge ui red icon button" ng-click = "main.openAddModal('user')">
        <i class="user icon"></i>
    </button>
    
    <button id="fab-pokemon" class="circular huge ui blue icon button" ng-click = "main.openAddModal('pokemon')">
        <i class="github alternate icon"></i>
    </button> 

    <button id="fab-gym" class="circular huge ui green icon button" ng-click = "main.openAddModal('gym')">
        <i class="building outline icon"></i>
    </button>

    <button id="fab-add" class="circular huge ui yellow icon button">
        <i class="plus icon"></i>
    </button>   

<script>
    $('.special.card').on('ready', '.image', function() {
        $(this).dimmer({});
    });

    $('#search-by-select').dropdown();

    $('.ui.form')
      .form({
        fields: {
          name: {
            identifier: 'select-by',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please select something'
              }
            ]
          }
        }
      })
    ;


    $('#fab-add').click(function() {
        $(this).transition({
        animation  : 'scale',
        duration   : '0.3s',
        });
    })

    $('#fab-add').click(function() {
        $('#fab-user').show();
        $('#fab-pokemon').show();
        $('#fab-gym').show();
    });

    //ADD POKEMON MODAL FORM VALIDATION
    // $('.ui.form')
    //   .form({
    //     fields: {
    //       name: {
    //         identifier: 'select-by',
    //         rules: [
    //           {
    //             type   : 'empty',
    //             prompt : 'Please select something'
    //           }
    //         ]
    //       }
    //     }
    //   })
    // ;            
</script>