<div class="ui grid centered">
    <form class="row ui form">
        <div class="five wide column">
            <div class="field">
                <select class="ui dropdown" ng-model="main.category" id="search-by-select" name="select-by">
                    <option value="">{{main.searchError}}</option>
                    <option ng-repeat="option in main.options" 
                            value="{{option.value}}">
                            {{option.label}}
                    </option>
                </select>
            </div>
        </div>
        <div class="five wide column">
            <input type="text" ng-model="main.input" placeholder="Enter text">
        </div>
        <div class="five wide column">
            <button id="search-button" class="ui button" type="submit" ng-click="main.search()">Search</button>
        </div>
    </form>
</div>
<div class = "ui grid centered">
    <div class="ui top attached tabular menu">
        <div ng-repeat="result in main.results" class="item tab-{{result.key}}"  ng-click="main.activateTab(result.key)">
            {{result.field}}
        </div>
    </div>
    <div class="row" ng-if="main.searching">
        <div class="sixteen wide column middle aligned">
            <div class="ui active massive inline loader"></div>
        </div>
    </div>
    <div class="ui bottom attached tab segment tab-{{result.key}}" ng-repeat="result in main.results">
        <div class="ui grid centered">
            <div class="three wide column" ng-repeat="unit in result.data | orderBy : result.key track by $index"
            ng-click="main.openModal(unit)">
                <div class="ui fluid special card centered">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">View/Edit</div>
                                </div>
                                <div class="center">
                                    <div class="ui inverted button">Delete</div>
                                </div>
                            </div>
                        </div>  
                        <img class="ui image fluid" ng-src="/assets/pokemons/{{unit.entity}}.png">
                    </div>
                    <div class="content">
                        <div class="header">
                            {{unit.name}}
                        </div>
                        <div class="meta">
                            <div ng-if="unit.username">User</div>
                            <div ng-if="unit.pokemon_id">Pokemon</div>
                            <div ng-if="unit.prestige">Gym</div>
                        </div>
                    </div>
                    <div class="extra content">
                        <i class="user icon"></i>
                            <span ng-if="unit.username">
                                <span ng-if="unit.team !== 'NULL'" class="capitalize">Team {{unit.team}}</span>
                                <span ng-if="unit.team === 'NULL'">No team</span>
                            </span>
                            <span ng-if="!unit.username">
                                Owned by
                                <span ng-if="unit.pokemon_id">User #{{unit.user_id}}</span>
                                <span ng-if="unit.prestige">
                                    <span ng-if="unit.team === 'NULL'">no team</span>
                                    <span ng-if="unit.team !== 'NULL'" class="capitalize">Team {{unit.team}}</span>
                                </span>
                            </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>    

<!-- MODAL -->
<modal-pokemon></modal-pokemon>

<script>

    $('#search-by-select').dropdown();

    $('.ui.form')
      .form({
        fields: {
          name: {
            identifier: 'select-by',
            rules: [
              {
                type   : 'empty',
                prompt : 'Please select something'
              }
            ]
          }
        }
      })
    ;

</script>