<div class="ui modal" id="modal-add-pokemon">
    <div class="header">
        Add Pokemon
    </div>
    <div class="image content ui grid" style="background: transparent;">
        <div class="description eight wide centered column">
            <table class="ui celled compact table">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody class="ui mini form" id = "addForm">
                    <tr>
                        <td class="bold">Entity</td>
                        <td class="field">
                            <select class="ui dropdown" ng-model="main.add_entity">
                                <option ng-repeat="entity in main.entities" 
                                        value="{{entity}}">
                                        <span class="capitalize">{{main.snakeToEng(entity)}}</span>
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Name</td>
                        <td class="field">
                            <input type="text" ng-model="main.add_name">
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Cp</td>
                        <td class="field">
                            <input type="number" ng-model="main.add_cp">
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Type1</td>
                        <td class="field">
                            <select class="ui dropdown" ng-model="main.add_type1">
                                <option ng-repeat="type in main.types" 
                                        value="{{type}}">
                                        <span class="capitalize">{{type}}</span>
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Type2</td>
                        <td class="field">
                            <select class="ui dropdown" ng-model="main.add_type2">
                                <option value="NULL">NULL</option>
                                <option ng-repeat="type in main.types" 
                                        value="{{type}}">
                                        <span class="capitalize">{{type}}</span>
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Level</td>
                        <td class="field">
                            <input type="number" ng-model="main.add_level">
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Date Caught</td>
                        <td class="field">
                            <input type="date" ng-model="main.add_datecaught">
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">User Owner</td>
                        <td class="field">
                            <select class="ui dropdown" ng-model="main.add_username">
                                <option value="">User name</option>
                                <option ng-repeat="user in main.users" 
                                    value="{{user.username}}">
                                    <span class="capitalize">{{user.username}}</span>
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="bold">Gym Id</td>
                        <td class="field">
                            <select class="ui dropdown" ng-model="main.add_gymid">
                                <option value="">Gym Id</option>
                                <option ng-repeat="gym in main.gyms" 
                                    value="{{gym.gym_id}}">
                                    <span class="capitalize">{{gym.gym_id}}</span>
                                </option>
                            </select>
                        </td>
                    </tr>                
                </tbody>
            </table>
        </div>
        <div class="eight wide column middle aligned">
            <div class="container img-background">
                <div class="ui image fluid">
                    <img ng-src="/assets/pokemons/{{main.add_entity}}.png">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div>
            <div class="ui blue right labeled icon button" ng-click="main.addToDB('pokemon')">Add
                <i class="add icon"></i></div>
            <div class="ui black button" ng-click="main.addStop('pokemon')">Cancel</div>
        </div>
    </div>
</div>